footer{
	background: #333333;
	.TopFooterMenu{
		padding-top: 4rem;
		padding-bottom: 4rem;
		display: block;
		@media screen and (min-width: 768px){
			display: flex;
		}
		.Grid{
			padding-right: 0;
			padding-left: 0;
		    flex-basis: 20%;
		    flex-direction: column;
		    &:nth-child(1){
		    	flex-basis: 24%;
		    	padding-left: 0;
		    }
		    &:nth-child(2){
		    	flex-basis: 14%;
		    }
		    &:nth-child(3){
		    	flex-basis: 26%;
		    }
		    &:nth-child(4){
		    	flex-basis: 36%;
		    	padding-right: 0;
		    }
		    // &:nth-child(5){
		    // 	padding-right: 0;
		    // 	flex-basis: 17%;
		    // }
		    h4{
		    	color: #ddd;
		    	font-size: 18px;
		    	margin-top: 4.5rem;
		    	font-weight: 500;
		    }
		    p{
		    	text-align: left;
		    	margin-top: 2rem;
		    	color: #fff;
		    	font-weight: 500;
		    	font-size: 15px;
		    }
		    ul.SocialIcons {
		  		margin: 3rem auto 0 0;
			    padding: 0;
			    list-style: none;
			    display: flex;
			    align-items: center;
			    justify-content: flex-start;
				    li{
			    	display: inline-block;
			    	margin-right: 1.2rem;
			    	color: #fff;
			    	font-size: 18px;
			    	font-family: Lato;
				    a {
				    	display: flex;
					    justify-content: center;
					    align-items: center;
				    	background: #333;
					    transition: background ease 0.1s;
					    svg {
					    	width: 22px;
						    height: 22px;
						    fill: #ffffff;
						    &:hover{
						    	fill: #ddd;
						    }
					    }			    
				    }
				    &:last-child{
				    	margin-right: 0;
				    }
			    }
			}
		    ul.FooterMenuElement{
		    	margin-top: 0rem;
		    	li{
		    		margin-top: 1rem;
		    		a{
		    			color: #ddd;
		    			font-weight: 100;
		    			font-family: Open Sans;
		    			font-size: 13px;
		    			text-decoration: none;
		    			transition: 0.4s all;
		    			&:hover{
		    				color: #fff;
		    			}
		    		}
		    	}
			    @media screen and (min-width: 768px){
			    	margin-top: 2.8rem;
			    }
		    }
		    @media screen and (min-width: 768px){
		    	padding-right: 15px;
				padding-left: 15px;
		    }
		    form{
		    	margin-top: 1.8rem;
		    	input[type="email"]{
		    		padding: 12px;
				    border: none;
				    width: 100%;
				    font-size: 16px;
				    @media screen and (min-width: 768px){
				    	width: 71%;
				    }
		    	}
		    	input[type="submit"]{
		    		padding: 13px 22px 12px;
		    		border: none;
		    		margin-left: 0;
		    		margin-top: 1rem;
		    		font-size: 15px;
		    		background: #3f95b6;
		    		color: #ffffff;
		    		cursor: pointer;
		    		width: 100%;
		    		@media screen and (min-width: 768px){
				    	width: auto;
				    	margin-left: -3px;
				    	margin-top: 0;
				    }
		    	}
		    }
		}

    	.subscribeTxt{
    		margin-top: 2.9rem !important;
    		font-size: 13px !important;
    		font-weight: 100 !important;
    		color: #ddd !important;
    	}
	}

	.BottomFooterMenu{
		padding-top: 0;
		padding-bottom: 4rem;
		display: block;
		@media screen and (min-width: 768px){
			display: flex;
		}
		.Grid{
			padding-right: 0;
			padding-left: 0;
		    flex-basis: 20%;
		    flex-direction: column;
		    &:nth-child(1){
		    	flex-basis: 25%;
		    	padding-left: 0;
		    }
		    &:nth-child(2){
		    	flex-basis: 17%;
		    }
		    &:nth-child(3){
		    	flex-basis: 15%;
		    }
		    &:nth-child(4){
		    	flex-basis: 14%;
		    }
		    &:nth-child(5){
		    	flex-basis: 14%;
		    }
		    &:nth-child(6){
		    	flex-basis: 20%;
		    	padding-right: 0;
		    }
		    // &:nth-child(5){
		    // 	padding-right: 0;
		    // 	flex-basis: 17%;
		    // }
		    h4{
		    	color: #ddd;
		    	font-size: 18px;
		    	font-weight: 500;
		    	margin-top: 2rem;
		    	@media screen and (min-width: 768px){
		    		margin-top: 0;
		    	}
		    }
		    p{
		    	text-align: left;
		    	margin-top: 2rem;
		    	color: #ddd;
		    	font-weight: 100;
		    	font-size: 15px;
		    }
		    ul.SocialIcons {
		  		margin: 3rem auto 0 0;
			    padding: 0;
			    list-style: none;
			    display: flex;
			    align-items: center;
			    justify-content: flex-start;
				    li{
			    	display: inline-block;
			    	margin-right: 1.2rem;
			    	color: #fff;
			    	font-size: 18px;
			    	font-family: Lato;
				    a {
				    	display: flex;
					    justify-content: center;
					    align-items: center;
				    	background: #333;
					    transition: background ease 0.1s;
					    svg {
					    	width: 22px;
						    height: 22px;
						    fill: #ffffff;
						    &:hover{
						    	fill: #ddd;
						    }
					    }			    
				    }
				    &:last-child{
				    	margin-right: 0;
				    }
			    }
			}
		    ul.FooterMenuElement{
		    	margin-top: 0rem;
		    	li{
		    		margin-top: 1rem;
		    		a{
		    			color: #ddd;
		    			font-weight: 300;
		    			font-family: Open Sans;
		    			font-size: 13px;
		    			text-decoration: none;
		    			transition: 0.4s all;
		    			&:hover{
		    				color: #fff;
		    			}
		    		}
		    	}
			    @media screen and (min-width: 768px){
			    	margin-top: 2.8rem;
			    }
		    }
		    ul.ContactDetails{
		    	margin-top: 2.8rem;
		    	li{
		    		margin-bottom: 2rem;
		    		color: #fff;
	    			font-weight: 100;
	    			font-family: Open Sans;
	    			font-size: 13px;
		    		a{
		    			color: #fff;
		    			font-weight: 100;
		    			font-family: Open Sans;
		    			font-size: 13px;
		    			text-decoration: none;
		    			transition: 0.4s all;
		    			&:hover{
		    				color: #fff;
		    			}
		    			img{
		    				float: left;
		    				margin-right: 8px;
		    				margin-top: 3px;
		    			}
		    		}
	    			img{
	    				float: left;
	    				margin-right: 8px;
	    				margin-top: 3px;
	    			}
		    	}
		    }
		    @media screen and (min-width: 768px){
		    	padding-right: 15px;
				padding-left: 15px;
		    }
		    form{
		    	margin-top: 1.8rem;
		    	input[type="email"]{
		    		padding: 12px;
				    border: none;
				    width: 66%;
				    font-size: 16px;
		    	}
		    	input[type="submit"]{
		    		padding: 13px 22px 12px;
		    		border: none;
		    		margin-left: -3px;
		    		font-size: 15px;
		    		background: #3f95b6;
		    		color: #ffffff;
		    		cursor: pointer;
		    	}
		    }
		}

    	.subscribeTxt{
    		margin-top: 2.9rem !important;
    		font-size: 13px !important;
    	}
	}

	.CopyrightBlock{
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-top: 1px thin solid #5d5d5d;
		p{
			font-weight: 100;
			color: #ddd;
			margin: 0;
			a{
				color: #ddd;
				text-decoration: none;
			}
		}
	}
}