.MapSection{
	padding-bottom: 8rem;
	.ContactUsDetails{
		margin-top: 6rem;
		position: relative;
		.container{
			display: block;
			align-items: stretch;
			align-content: center;
			justify-content: flex-start;
			h3{
				margin-bottom: 1rem;
				line-height: 1;
				font-size: 2.2rem;
				@media (min-width: 768px){
					font-size: 2.5rem;
				}
			}
			.FormBox{
				background: #fff;
				padding: 4rem;
				flex-basis: 100%;
				box-shadow: -2px 1px 12px 1px rgba(176,176,176,1);
				input[type="text"],input[type="email"]{
					width: 100%;
					padding: 15px;
					margin-top: 15px;
					border: 1px solid #ddd;
					font-size: 18px;
					font-weight: 100;
				}
				textarea{
					width: 100%;
					padding: 15px;
					margin-top: 15px;
					height: 130px;
					border: 1px solid #ddd;
					font-size: 18px;
					font-weight: 100;
				}
				input[type="submit"]{
					background: #3f95b6;
					border: none;
					margin-top: 3rem;
					padding: 13px 50px;
					font-size: 18px;
					color: #fff;
					position: relative;
					cursor: pointer;

				}
				::placeholder {
				  	color: #ccc;
				}
				@media (min-width: 768px) {
				    flex-basis: 70%;
    			}
			}

			.InfoBox{
				background: #3f95b6;
				color: #fff;
				flex-basis: 30%;
				padding: 4rem;
				h3{
					margin-bottom: 3rem;
				}
				ul.ContactDetails{
					li{
						margin-top: 1rem;
						font-size: 18px;
						img{
							margin-right: 10px;
						}
						&:nth-child(2){
							margin-top: 3rem;
							margin-bottom: 1rem;
						}
						&:nth-child(5){
							margin-top: 3rem;
						}
						a{
							color: #fff;
							text-decoration: none;
						}
					}
				}
				ul.SocialIcons {
			  		margin: 5rem auto 0 0;
				    padding: 0;
				    list-style: none;
				    display: flex;
				    align-items: center;
				    justify-content: flex-start;
					    li{
				    	display: inline-block;
				    	margin-right: 1.2rem;
				    	color: #fff;
				    	font-size: 18px;
				    	font-family: Lato;
					    a {
					    	display: flex;
						    justify-content: center;
						    align-items: center;
						    transition: background ease 0.1s;
						    svg {
						    	width: 22px;
							    height: 22px;
							    fill: #ffffff;
							    &:hover{
							    	fill: #ddd;
							    }
						    }			    
					    }
					    &:last-child{
					    	margin-right: 0;
					    }
				    }
				    @media (min-width: 768px){
						margin: 15rem auto 0 0;
				    }
				}
			}
			@media (min-width: 768px) {
				display: flex;
			}
		}
		@media (min-width: 768px) {
			margin-top: -23rem;
		}		
	}
}