.FreeDemoSection{
	.SmallContainer{
		max-width: 950px;
		margin: 0 auto;		
		h2{
			text-align: center;
			font-weight: 100;
		}
		p{
			text-align: center;
		}
		input[type="text"],input[type="email"],input[type="date"],input[type="time"],select{
			width: 100%;
			padding: 15px;
			border: thin solid #eee;
			background: #ffffff;
			margin-top: 2rem;
			color: #ddd;
			&:focus{
				outline: none;
			}
			&::placeholder{
				color: #ddd;
			}
		}
		textarea{
			width: 100%;
			padding: 15px;
			border: thin solid #eee;
			background: #ffffff;
			height: 100px;
			margin-top: 2rem;
			&:focus{
				outline: none;
			}
			&::placeholder{
				color: #ddd;
			}
		}
		input[type="submit"]{
			margin: 5rem auto 0;
			display: block;
			padding: 12px 60px;
		    border: none;
		    font-size: 18px;
		    background: #3f95b6;
		    color: #fff;
		    cursor: pointer;
		}
	}
}