.FullLeftImageRightContent{
	.GridWrapper{
		display: block;
		@media screen and (min-width: 768px) {
		    display: flex;
		}
		.Grid {
		    padding-right: 10px;
		    flex-basis: 50%;
		    flex-direction: column;
		    padding-left: 10px;
		    @media screen and (min-width: 768px) {
			    padding-left: 0;
			    padding-right: 0;
			}
		    .LeftContent{
				display: flex;
				align-items: flex-start;
				justify-content: center;
				height: 100%;
				flex-direction: column;
				padding-left: 0rem;
				padding-right: 0rem;
				margin-top: 2rem;
				@media screen and (min-width: 768px){
					padding-left: 5rem;
					padding-right: 5rem;	
					margin-top: 0;
				}
				@media screen and (min-width: 1024px){
					padding-left: 6rem;
					padding-right: 5rem;	
					margin-top: 0;
				}
				@media screen and (min-width: 1200px){
					padding-left: 5rem;
					padding-right: 12rem;	
					margin-top: 0;
				}
				@media screen and (min-width: 1400px){
					padding-left: 5rem;
					padding-right: 25rem;	
					margin-top: 0;
				}
				h2{
					font-weight: 100;
					margin-bottom: 1rem;
					max-width: 100%;
					@media screen and (min-width: 768px) {
					    max-width: 300px;
					}
				}
				p{
					margin: 1rem 0;
					font-size: 16px;
					line-height: 1.8;
					&.ButtonElement{
						margin-top: 4rem;
					}
				}
				.Button {
					border: 1px solid transparent;
					color: #fff;
					text-decoration: none;
					position: relative;
					font-weight: 600;
					font-size: 16px;
					transition: all ease 0.3s;
					background-color: #3c98b1;
					padding: 1.5rem 5rem;
					span{
						position: relative;
						left: -15px;
						transition: all ease 0.3s;
					}
					&:before {
						content: '';
						position: absolute;
						right: 32px; top: 53%;
						transform: translate(0, -50%);
						background-color: #ffffff;
						width: 20px;
						height: 1px;
						transition: all ease 0.3s;
					}
					&:after {
						content: '\f105';
						position: absolute;
						right: 36px; top: 26%;
						transform: translate(0, -50%);
						width: 0;
						height: 0;
						color: #ffffff;
						font-family:'FontAwesome';
						transition: all ease 0.3s;
					}
					&:hover {
						border: 1px solid #3c98b1;
						background-color: transparent;
						span{
							color: #3c98b1;
						}
						&:before {
							background-color: #3c98b1;
						}
						&:after {
							color: #3c98b1;
						}
					}
				}
			}
			img{
				width: 100%;
			}
		}
	}
}