.HomeBottomSlider{
	padding-top: 4rem;
	padding-bottom: 4rem;
	h2{
		font-family: $primaryFont;
		font-weight: 300;
		text-align: center;
	}

	h4{
		margin-bottom: 10px;
		margin-top: 30px;
		font-weight: 300;
	}
	p{
		text-align: center;
	}
	.slider-for{
		text-align: center;
		.slick-slide{
			img{
				margin: 0 auto;
			}
		}
		.slick-prev{
			background: url(../img/img/temp-img/left-arrow.png) no-repeat;
		}
		.slick-next{
			background: url(../img/img/temp-img/right-arrow.png) no-repeat;
		}
		.slick-next, .slick-prev{
			height: 62px;
			width: 62px;
			text-indent: -999px;
			z-index: 1;
			&:before{
				display: none;
			}
		}
	}
	.slider-nav{	
    	margin: 0 auto;
		margin-top: 30px;
		.slick-list{
			width: 80% !important;
			margin: 0 auto;
			height: 100%;
			.slick-track{
				height: 100%;
				text-align: center;
			}
			.slick-current{
				transform: scale(1, 1) !important;
			    box-shadow: 0px 0 7px 4px rgba(0,0,0,0.4);
			    background: #ddd !important;
			    color: #000;
			    position: relative;
			    z-index: 9;
			    @media screen and (min-width: 768px){
			    	background: #fff !important;
			    }
			}
			.slick-slide{
				border-left: thin solid #54c0e4;
				transform: scaleY(1);
				padding: 10px;
				.pic{
					display: flex !important;
					align-items: center;
					justify-content: center;
					img{
						margin-right: 10px;
					}
				}
			}	
			@media screen and (min-width: 768px){
				width: auto !important;
			}	
		}
		.slick-prev{
			background: url(../img/img/temp-img/left-small-arrow.png) no-repeat;
			left: -2px;
			@media screen and (min-width: 768px){
				left: -50px;
			}
		}
		.slick-next{
			background: url(../img/img/temp-img/right-small-arrow.png) no-repeat;
			right: -5px;
			@media screen and (min-width: 768px){
				right: -50px;
			}
		}
		.slick-next, .slick-prev{
			height: 23px;
			width: 15px;
			text-indent: -999px;
			&:before{
				display: none;
			}
		}
	}


.bg  {
  position: relative;
}

.path {
  animation: draw 2s infinite;
}

 @keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Slider */

}