.RightContentLeftImage{
	
	h2{
		font-weight: 100;
		text-align: center;
		margin-bottom: 4rem;
	}
	.RightContentBlock{
		display: flex;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		h4{
			font-size: 28px;
			line-height: 1.6;
			font-weight: 100;
			margin-bottom: 1rem;
		}
		p{
			margin: 1rem 0;
			&.ButtonElement{
				margin-top: 4rem;
			}
		}
		.Button {
			border: 1px solid transparent;
			color: #fff;
			text-decoration: none;
			padding: 1.3rem 4rem;
			position: relative;
			font-weight: 600;
			font-size: 16px;
			transition: all ease 0.3s;
			background-color: #3c98b1;
			span{
				position: relative;
				left: -15px;
				transition: all ease 0.3s;
			}
			&:before {
				content: '';
				position: absolute;
				right: 25px; top: 53%;
				transform: translate(0, -50%);
				background-color: #ffffff;
				width: 20px;
				height: 1px;
				transition: all ease 0.3s;
			}
			&:after {
				content: '\f105';
				position: absolute;
				right: 30px; top: 26%;
				transform: translate(0, -50%);
				width: 0;
				height: 0;
				color: #ffffff;
				font-family:'FontAwesome';
				transition: all ease 0.3s;
			}
			&:hover {
				border: 1px solid #3c98b1;
				background-color: transparent;
				span{
					color: #3c98b1;
				}
				&:before {
					background-color: #3c98b1;
				}
				&:after {
					color: #3c98b1;
				}
			}
		}
	}
}