// @import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');