.MenuHeader.headspace {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s;
  // height: 4rem;
}

.MenuHeader.headspace--fixed {
  position: fixed;
}

.headspace--hidden {
  transform: translate3d(0, -6rem, 0);
  /* y value should be -1 * height */

  &::after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 4rem;
    height: 4rem;
  }

  &:hover {
    transform: translate3d(0, 0, 0);
  }
}
