@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%;
  background: #fff; }

body {
  font: 400 14px/1.4 "Lato", sans-serif;
  color: #000;
  -webkit-transition: all 0.4s 0.3s ease-in;
  -o-transition: all 0.4s 0.3s ease-in;
  transition: all 0.4s 0.3s ease-in;
  font-smoothing: antialiased; }

body,
html {
  min-height: 100vh; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-family: Open Sans;
  color: #636363;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Lato;
  font-weight: 600;
  line-height: 1.4;
  color: inherit; }

h1 {
  font-size: 2.5rem; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4.5rem; } }

h2 {
  font-size: 2rem; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 3.5rem; } }

h3 {
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 2.4rem; } }

h4 {
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 2.2rem; } }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

img {
  max-width: 100%; }

.Center {
  text-align: center; }

.DesktopOnly {
  display: none; }
  @media (min-width: 768px) {
    .DesktopOnly {
      display: block; } }

@media (min-width: 768px) {
  .MobileOnly {
    display: none; } }

.HeadingBar {
  position: relative; }
  .HeadingBar:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: #ddae35;
    width: 50px;
    height: 4px; }
  .HeadingBar.CenteredBar:before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .HeadingBar.TopBar {
    padding-top: 20px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; }
  .HeadingBar.BottomBar {
    padding-bottom: 20px; }
    .HeadingBar.BottomBar:before {
      bottom: 0;
      top: auto; }
  .HeadingBar.CenteredHead {
    text-align: center;
    margin-bottom: 20px; }

.NoBar {
  padding-top: 20px;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto; }

.HeadCenter {
  text-align: center; }

.MobileSpaceOnly {
  padding-top: 2rem; }
  @media (min-width: 768px) {
    .MobileSpaceOnly {
      padding-top: 0; } }
  @media (max-width: 990px) {
    .MobileSpaceOnly {
      margin-top: 0 !important; } }

.MobileSpaceOnlyLeast {
  padding-top: 1rem; }
  @media (min-width: 768px) {
    .MobileSpaceOnlyLeast {
      padding-top: 0; } }

ul.CircledBullet {
  padding-left: 0;
  list-style: none; }
  ul.CircledBullet li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    ul.CircledBullet li:before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #ddae35; }
    ul.CircledBullet li:after {
      position: absolute;
      content: "";
      top: 8px;
      left: 6px;
      background-color: #ddae35;
      width: 7px;
      height: 7px;
      border-radius: 50%; }
    ul.CircledBullet li:hover {
      border-color: #ddae35; }

.Quotation {
  text-align: center; }
  .Quotation::before {
    content: open-quote; }
  .Quotation::after {
    content: close-quote; }

.ColorHeading {
  color: #ddae35;
  font-style: italic; }

ul.PolygonBullet {
  padding-left: 0;
  list-style: none; }
  ul.PolygonBullet li {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    ul.PolygonBullet li:before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0px;
      width: 16px;
      height: 16px;
      background-image: url(../img/cobold-sprite.svg#icon-bullet-point); }
    ul.PolygonBullet li:hover {
      border-color: #ddae35; }

.Bold {
  font-weight: 600; }

.ImgElement {
  position: absolute; }
  .ImgElement.TopRightElement {
    top: 0;
    right: 0; }
  .ImgElement.BottomRightElement {
    bottom: 0;
    right: 0; }
  .ImgElement.BottomLeftElement {
    bottom: 0;
    left: 0; }
  .ImgElement.TopLeftElement {
    top: 0;
    left: 0; }

ul.Dashed {
  padding-left: 0;
  list-style: none; }
  ul.Dashed li {
    position: relative;
    padding-bottom: 10px;
    padding-left: 30px;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    ul.Dashed li:before {
      position: absolute;
      content: "";
      top: 10px;
      left: 0px;
      width: 15px;
      height: 1px;
      background-color: #ddae35; }

ul.SvgList {
  list-style: none;
  padding: 0;
  margin-top: 3rem; }
  ul.SvgList li {
    margin-bottom: 1rem;
    background: url("../img/bullet-point.svg");
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-bottom: 1rem;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    line-height: 1.7; }
    ul.SvgList li:hover {
      border-color: #ddae35; }
    ul.SvgList li .BulletIcon {
      width: 18px;
      height: 18px;
      margin-right: 15px; }

.TextLeft {
  text-align: left; }

.TwoGridList {
  display: inline-block; }
  .TwoGridList li {
    float: left;
    width: 48%;
    border-bottom: none !important; }

@media only screen and (max-width: 480px) {
  .TwoGridList li {
    padding-left: 25px;
    width: 46%;
    margin-right: 10px;
    word-break: break-word; } }

.CopyRightText {
  text-align: center; }

.MainBanner .Breadcrumbs a {
  color: CurrentColor; }

section {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media (min-width: 768px) {
    section {
      padding-top: 4rem;
      padding-bottom: 4rem; } }

.BgColorBlue {
  background-color: #f5fafd; }

.MarginTop {
  margin-top: 14.6rem; }

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571429em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.fa-ul > li {
  position: relative; }

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center; }

.fa-li.fa-lg {
  left: -1.85714286em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

.fa-glass:before {
  content: "\f000"; }

.fa-music:before {
  content: "\f001"; }

.fa-search:before {
  content: "\f002"; }

.fa-envelope-o:before {
  content: "\f003"; }

.fa-heart:before {
  content: "\f004"; }

.fa-star:before {
  content: "\f005"; }

.fa-star-o:before {
  content: "\f006"; }

.fa-user:before {
  content: "\f007"; }

.fa-film:before {
  content: "\f008"; }

.fa-th-large:before {
  content: "\f009"; }

.fa-th:before {
  content: "\f00a"; }

.fa-th-list:before {
  content: "\f00b"; }

.fa-check:before {
  content: "\f00c"; }

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d"; }

.fa-search-plus:before {
  content: "\f00e"; }

.fa-search-minus:before {
  content: "\f010"; }

.fa-power-off:before {
  content: "\f011"; }

.fa-signal:before {
  content: "\f012"; }

.fa-gear:before, .fa-cog:before {
  content: "\f013"; }

.fa-trash-o:before {
  content: "\f014"; }

.fa-home:before {
  content: "\f015"; }

.fa-file-o:before {
  content: "\f016"; }

.fa-clock-o:before {
  content: "\f017"; }

.fa-road:before {
  content: "\f018"; }

.fa-download:before {
  content: "\f019"; }

.fa-arrow-circle-o-down:before {
  content: "\f01a"; }

.fa-arrow-circle-o-up:before {
  content: "\f01b"; }

.fa-inbox:before {
  content: "\f01c"; }

.fa-play-circle-o:before {
  content: "\f01d"; }

.fa-rotate-right:before, .fa-repeat:before {
  content: "\f01e"; }

.fa-refresh:before {
  content: "\f021"; }

.fa-list-alt:before {
  content: "\f022"; }

.fa-lock:before {
  content: "\f023"; }

.fa-flag:before {
  content: "\f024"; }

.fa-headphones:before {
  content: "\f025"; }

.fa-volume-off:before {
  content: "\f026"; }

.fa-volume-down:before {
  content: "\f027"; }

.fa-volume-up:before {
  content: "\f028"; }

.fa-qrcode:before {
  content: "\f029"; }

.fa-barcode:before {
  content: "\f02a"; }

.fa-tag:before {
  content: "\f02b"; }

.fa-tags:before {
  content: "\f02c"; }

.fa-book:before {
  content: "\f02d"; }

.fa-bookmark:before {
  content: "\f02e"; }

.fa-print:before {
  content: "\f02f"; }

.fa-camera:before {
  content: "\f030"; }

.fa-font:before {
  content: "\f031"; }

.fa-bold:before {
  content: "\f032"; }

.fa-italic:before {
  content: "\f033"; }

.fa-text-height:before {
  content: "\f034"; }

.fa-text-width:before {
  content: "\f035"; }

.fa-align-left:before {
  content: "\f036"; }

.fa-align-center:before {
  content: "\f037"; }

.fa-align-right:before {
  content: "\f038"; }

.fa-align-justify:before {
  content: "\f039"; }

.fa-list:before {
  content: "\f03a"; }

.fa-dedent:before, .fa-outdent:before {
  content: "\f03b"; }

.fa-indent:before {
  content: "\f03c"; }

.fa-video-camera:before {
  content: "\f03d"; }

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "\f03e"; }

.fa-pencil:before {
  content: "\f040"; }

.fa-map-marker:before {
  content: "\f041"; }

.fa-adjust:before {
  content: "\f042"; }

.fa-tint:before {
  content: "\f043"; }

.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044"; }

.fa-share-square-o:before {
  content: "\f045"; }

.fa-check-square-o:before {
  content: "\f046"; }

.fa-arrows:before {
  content: "\f047"; }

.fa-step-backward:before {
  content: "\f048"; }

.fa-fast-backward:before {
  content: "\f049"; }

.fa-backward:before {
  content: "\f04a"; }

.fa-play:before {
  content: "\f04b"; }

.fa-pause:before {
  content: "\f04c"; }

.fa-stop:before {
  content: "\f04d"; }

.fa-forward:before {
  content: "\f04e"; }

.fa-fast-forward:before {
  content: "\f050"; }

.fa-step-forward:before {
  content: "\f051"; }

.fa-eject:before {
  content: "\f052"; }

.fa-chevron-left:before {
  content: "\f053"; }

.fa-chevron-right:before {
  content: "\f054"; }

.fa-plus-circle:before {
  content: "\f055"; }

.fa-minus-circle:before {
  content: "\f056"; }

.fa-times-circle:before {
  content: "\f057"; }

.fa-check-circle:before {
  content: "\f058"; }

.fa-question-circle:before {
  content: "\f059"; }

.fa-info-circle:before {
  content: "\f05a"; }

.fa-crosshairs:before {
  content: "\f05b"; }

.fa-times-circle-o:before {
  content: "\f05c"; }

.fa-check-circle-o:before {
  content: "\f05d"; }

.fa-ban:before {
  content: "\f05e"; }

.fa-arrow-left:before {
  content: "\f060"; }

.fa-arrow-right:before {
  content: "\f061"; }

.fa-arrow-up:before {
  content: "\f062"; }

.fa-arrow-down:before {
  content: "\f063"; }

.fa-mail-forward:before, .fa-share:before {
  content: "\f064"; }

.fa-expand:before {
  content: "\f065"; }

.fa-compress:before {
  content: "\f066"; }

.fa-plus:before {
  content: "\f067"; }

.fa-minus:before {
  content: "\f068"; }

.fa-asterisk:before {
  content: "\f069"; }

.fa-exclamation-circle:before {
  content: "\f06a"; }

.fa-gift:before {
  content: "\f06b"; }

.fa-leaf:before {
  content: "\f06c"; }

.fa-fire:before {
  content: "\f06d"; }

.fa-eye:before {
  content: "\f06e"; }

.fa-eye-slash:before {
  content: "\f070"; }

.fa-warning:before, .fa-exclamation-triangle:before {
  content: "\f071"; }

.fa-plane:before {
  content: "\f072"; }

.fa-calendar:before {
  content: "\f073"; }

.fa-random:before {
  content: "\f074"; }

.fa-comment:before {
  content: "\f075"; }

.fa-magnet:before {
  content: "\f076"; }

.fa-chevron-up:before {
  content: "\f077"; }

.fa-chevron-down:before {
  content: "\f078"; }

.fa-retweet:before {
  content: "\f079"; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.fa-folder:before {
  content: "\f07b"; }

.fa-folder-open:before {
  content: "\f07c"; }

.fa-arrows-v:before {
  content: "\f07d"; }

.fa-arrows-h:before {
  content: "\f07e"; }

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "\f080"; }

.fa-twitter-square:before {
  content: "\f081"; }

.fa-facebook-square:before {
  content: "\f082"; }

.fa-camera-retro:before {
  content: "\f083"; }

.fa-key:before {
  content: "\f084"; }

.fa-gears:before, .fa-cogs:before {
  content: "\f085"; }

.fa-comments:before {
  content: "\f086"; }

.fa-thumbs-o-up:before {
  content: "\f087"; }

.fa-thumbs-o-down:before {
  content: "\f088"; }

.fa-star-half:before {
  content: "\f089"; }

.fa-heart-o:before {
  content: "\f08a"; }

.fa-sign-out:before {
  content: "\f08b"; }

.fa-linkedin-square:before {
  content: "\f08c"; }

.fa-thumb-tack:before {
  content: "\f08d"; }

.fa-external-link:before {
  content: "\f08e"; }

.fa-sign-in:before {
  content: "\f090"; }

.fa-trophy:before {
  content: "\f091"; }

.fa-github-square:before {
  content: "\f092"; }

.fa-upload:before {
  content: "\f093"; }

.fa-lemon-o:before {
  content: "\f094"; }

.fa-phone:before {
  content: "\f095"; }

.fa-square-o:before {
  content: "\f096"; }

.fa-bookmark-o:before {
  content: "\f097"; }

.fa-phone-square:before {
  content: "\f098"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a"; }

.fa-github:before {
  content: "\f09b"; }

.fa-unlock:before {
  content: "\f09c"; }

.fa-credit-card:before {
  content: "\f09d"; }

.fa-feed:before, .fa-rss:before {
  content: "\f09e"; }

.fa-hdd-o:before {
  content: "\f0a0"; }

.fa-bullhorn:before {
  content: "\f0a1"; }

.fa-bell:before {
  content: "\f0f3"; }

.fa-certificate:before {
  content: "\f0a3"; }

.fa-hand-o-right:before {
  content: "\f0a4"; }

.fa-hand-o-left:before {
  content: "\f0a5"; }

.fa-hand-o-up:before {
  content: "\f0a6"; }

.fa-hand-o-down:before {
  content: "\f0a7"; }

.fa-arrow-circle-left:before {
  content: "\f0a8"; }

.fa-arrow-circle-right:before {
  content: "\f0a9"; }

.fa-arrow-circle-up:before {
  content: "\f0aa"; }

.fa-arrow-circle-down:before {
  content: "\f0ab"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-wrench:before {
  content: "\f0ad"; }

.fa-tasks:before {
  content: "\f0ae"; }

.fa-filter:before {
  content: "\f0b0"; }

.fa-briefcase:before {
  content: "\f0b1"; }

.fa-arrows-alt:before {
  content: "\f0b2"; }

.fa-group:before, .fa-users:before {
  content: "\f0c0"; }

.fa-chain:before, .fa-link:before {
  content: "\f0c1"; }

.fa-cloud:before {
  content: "\f0c2"; }

.fa-flask:before {
  content: "\f0c3"; }

.fa-cut:before, .fa-scissors:before {
  content: "\f0c4"; }

.fa-copy:before, .fa-files-o:before {
  content: "\f0c5"; }

.fa-paperclip:before {
  content: "\f0c6"; }

.fa-save:before, .fa-floppy-o:before {
  content: "\f0c7"; }

.fa-square:before {
  content: "\f0c8"; }

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9"; }

.fa-list-ul:before {
  content: "\f0ca"; }

.fa-list-ol:before {
  content: "\f0cb"; }

.fa-strikethrough:before {
  content: "\f0cc"; }

.fa-underline:before {
  content: "\f0cd"; }

.fa-table:before {
  content: "\f0ce"; }

.fa-magic:before {
  content: "\f0d0"; }

.fa-truck:before {
  content: "\f0d1"; }

.fa-pinterest:before {
  content: "\f0d2"; }

.fa-pinterest-square:before {
  content: "\f0d3"; }

.fa-google-plus-square:before {
  content: "\f0d4"; }

.fa-google-plus:before {
  content: "\f0d5"; }

.fa-money:before {
  content: "\f0d6"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-caret-up:before {
  content: "\f0d8"; }

.fa-caret-left:before {
  content: "\f0d9"; }

.fa-caret-right:before {
  content: "\f0da"; }

.fa-columns:before {
  content: "\f0db"; }

.fa-unsorted:before, .fa-sort:before {
  content: "\f0dc"; }

.fa-sort-down:before, .fa-sort-desc:before {
  content: "\f0dd"; }

.fa-sort-up:before, .fa-sort-asc:before {
  content: "\f0de"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-linkedin:before {
  content: "\f0e1"; }

.fa-rotate-left:before, .fa-undo:before {
  content: "\f0e2"; }

.fa-legal:before, .fa-gavel:before {
  content: "\f0e3"; }

.fa-dashboard:before, .fa-tachometer:before {
  content: "\f0e4"; }

.fa-comment-o:before {
  content: "\f0e5"; }

.fa-comments-o:before {
  content: "\f0e6"; }

.fa-flash:before, .fa-bolt:before {
  content: "\f0e7"; }

.fa-sitemap:before {
  content: "\f0e8"; }

.fa-umbrella:before {
  content: "\f0e9"; }

.fa-paste:before, .fa-clipboard:before {
  content: "\f0ea"; }

.fa-lightbulb-o:before {
  content: "\f0eb"; }

.fa-exchange:before {
  content: "\f0ec"; }

.fa-cloud-download:before {
  content: "\f0ed"; }

.fa-cloud-upload:before {
  content: "\f0ee"; }

.fa-user-md:before {
  content: "\f0f0"; }

.fa-stethoscope:before {
  content: "\f0f1"; }

.fa-suitcase:before {
  content: "\f0f2"; }

.fa-bell-o:before {
  content: "\f0a2"; }

.fa-coffee:before {
  content: "\f0f4"; }

.fa-cutlery:before {
  content: "\f0f5"; }

.fa-file-text-o:before {
  content: "\f0f6"; }

.fa-building-o:before {
  content: "\f0f7"; }

.fa-hospital-o:before {
  content: "\f0f8"; }

.fa-ambulance:before {
  content: "\f0f9"; }

.fa-medkit:before {
  content: "\f0fa"; }

.fa-fighter-jet:before {
  content: "\f0fb"; }

.fa-beer:before {
  content: "\f0fc"; }

.fa-h-square:before {
  content: "\f0fd"; }

.fa-plus-square:before {
  content: "\f0fe"; }

.fa-angle-double-left:before {
  content: "\f100"; }

.fa-angle-double-right:before {
  content: "\f101"; }

.fa-angle-double-up:before {
  content: "\f102"; }

.fa-angle-double-down:before {
  content: "\f103"; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-angle-right:before {
  content: "\f105"; }

.fa-angle-up:before {
  content: "\f106"; }

.fa-angle-down:before {
  content: "\f107"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-laptop:before {
  content: "\f109"; }

.fa-tablet:before {
  content: "\f10a"; }

.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b"; }

.fa-circle-o:before {
  content: "\f10c"; }

.fa-quote-left:before {
  content: "\f10d"; }

.fa-quote-right:before {
  content: "\f10e"; }

.fa-spinner:before {
  content: "\f110"; }

.fa-circle:before {
  content: "\f111"; }

.fa-mail-reply:before, .fa-reply:before {
  content: "\f112"; }

.fa-github-alt:before {
  content: "\f113"; }

.fa-folder-o:before {
  content: "\f114"; }

.fa-folder-open-o:before {
  content: "\f115"; }

.fa-smile-o:before {
  content: "\f118"; }

.fa-frown-o:before {
  content: "\f119"; }

.fa-meh-o:before {
  content: "\f11a"; }

.fa-gamepad:before {
  content: "\f11b"; }

.fa-keyboard-o:before {
  content: "\f11c"; }

.fa-flag-o:before {
  content: "\f11d"; }

.fa-flag-checkered:before {
  content: "\f11e"; }

.fa-terminal:before {
  content: "\f120"; }

.fa-code:before {
  content: "\f121"; }

.fa-mail-reply-all:before, .fa-reply-all:before {
  content: "\f122"; }

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "\f123"; }

.fa-location-arrow:before {
  content: "\f124"; }

.fa-crop:before {
  content: "\f125"; }

.fa-code-fork:before {
  content: "\f126"; }

.fa-unlink:before, .fa-chain-broken:before {
  content: "\f127"; }

.fa-question:before {
  content: "\f128"; }

.fa-info:before {
  content: "\f129"; }

.fa-exclamation:before {
  content: "\f12a"; }

.fa-superscript:before {
  content: "\f12b"; }

.fa-subscript:before {
  content: "\f12c"; }

.fa-eraser:before {
  content: "\f12d"; }

.fa-puzzle-piece:before {
  content: "\f12e"; }

.fa-microphone:before {
  content: "\f130"; }

.fa-microphone-slash:before {
  content: "\f131"; }

.fa-shield:before {
  content: "\f132"; }

.fa-calendar-o:before {
  content: "\f133"; }

.fa-fire-extinguisher:before {
  content: "\f134"; }

.fa-rocket:before {
  content: "\f135"; }

.fa-maxcdn:before {
  content: "\f136"; }

.fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }

.fa-chevron-circle-up:before {
  content: "\f139"; }

.fa-chevron-circle-down:before {
  content: "\f13a"; }

.fa-html5:before {
  content: "\f13b"; }

.fa-css3:before {
  content: "\f13c"; }

.fa-anchor:before {
  content: "\f13d"; }

.fa-unlock-alt:before {
  content: "\f13e"; }

.fa-bullseye:before {
  content: "\f140"; }

.fa-ellipsis-h:before {
  content: "\f141"; }

.fa-ellipsis-v:before {
  content: "\f142"; }

.fa-rss-square:before {
  content: "\f143"; }

.fa-play-circle:before {
  content: "\f144"; }

.fa-ticket:before {
  content: "\f145"; }

.fa-minus-square:before {
  content: "\f146"; }

.fa-minus-square-o:before {
  content: "\f147"; }

.fa-level-up:before {
  content: "\f148"; }

.fa-level-down:before {
  content: "\f149"; }

.fa-check-square:before {
  content: "\f14a"; }

.fa-pencil-square:before {
  content: "\f14b"; }

.fa-external-link-square:before {
  content: "\f14c"; }

.fa-share-square:before {
  content: "\f14d"; }

.fa-compass:before {
  content: "\f14e"; }

.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "\f150"; }

.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "\f151"; }

.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "\f152"; }

.fa-euro:before, .fa-eur:before {
  content: "\f153"; }

.fa-gbp:before {
  content: "\f154"; }

.fa-dollar:before, .fa-usd:before {
  content: "\f155"; }

.fa-rupee:before, .fa-inr:before {
  content: "\f156"; }

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "\f157"; }

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "\f158"; }

.fa-won:before, .fa-krw:before {
  content: "\f159"; }

.fa-bitcoin:before, .fa-btc:before {
  content: "\f15a"; }

.fa-file:before {
  content: "\f15b"; }

.fa-file-text:before {
  content: "\f15c"; }

.fa-sort-alpha-asc:before {
  content: "\f15d"; }

.fa-sort-alpha-desc:before {
  content: "\f15e"; }

.fa-sort-amount-asc:before {
  content: "\f160"; }

.fa-sort-amount-desc:before {
  content: "\f161"; }

.fa-sort-numeric-asc:before {
  content: "\f162"; }

.fa-sort-numeric-desc:before {
  content: "\f163"; }

.fa-thumbs-up:before {
  content: "\f164"; }

.fa-thumbs-down:before {
  content: "\f165"; }

.fa-youtube-square:before {
  content: "\f166"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-xing:before {
  content: "\f168"; }

.fa-xing-square:before {
  content: "\f169"; }

.fa-youtube-play:before {
  content: "\f16a"; }

.fa-dropbox:before {
  content: "\f16b"; }

.fa-stack-overflow:before {
  content: "\f16c"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-flickr:before {
  content: "\f16e"; }

.fa-adn:before {
  content: "\f170"; }

.fa-bitbucket:before {
  content: "\f171"; }

.fa-bitbucket-square:before {
  content: "\f172"; }

.fa-tumblr:before {
  content: "\f173"; }

.fa-tumblr-square:before {
  content: "\f174"; }

.fa-long-arrow-down:before {
  content: "\f175"; }

.fa-long-arrow-up:before {
  content: "\f176"; }

.fa-long-arrow-left:before {
  content: "\f177"; }

.fa-long-arrow-right:before {
  content: "\f178"; }

.fa-apple:before {
  content: "\f179"; }

.fa-windows:before {
  content: "\f17a"; }

.fa-android:before {
  content: "\f17b"; }

.fa-linux:before {
  content: "\f17c"; }

.fa-dribbble:before {
  content: "\f17d"; }

.fa-skype:before {
  content: "\f17e"; }

.fa-foursquare:before {
  content: "\f180"; }

.fa-trello:before {
  content: "\f181"; }

.fa-female:before {
  content: "\f182"; }

.fa-male:before {
  content: "\f183"; }

.fa-gittip:before, .fa-gratipay:before {
  content: "\f184"; }

.fa-sun-o:before {
  content: "\f185"; }

.fa-moon-o:before {
  content: "\f186"; }

.fa-archive:before {
  content: "\f187"; }

.fa-bug:before {
  content: "\f188"; }

.fa-vk:before {
  content: "\f189"; }

.fa-weibo:before {
  content: "\f18a"; }

.fa-renren:before {
  content: "\f18b"; }

.fa-pagelines:before {
  content: "\f18c"; }

.fa-stack-exchange:before {
  content: "\f18d"; }

.fa-arrow-circle-o-right:before {
  content: "\f18e"; }

.fa-arrow-circle-o-left:before {
  content: "\f190"; }

.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "\f191"; }

.fa-dot-circle-o:before {
  content: "\f192"; }

.fa-wheelchair:before {
  content: "\f193"; }

.fa-vimeo-square:before {
  content: "\f194"; }

.fa-turkish-lira:before, .fa-try:before {
  content: "\f195"; }

.fa-plus-square-o:before {
  content: "\f196"; }

.fa-space-shuttle:before {
  content: "\f197"; }

.fa-slack:before {
  content: "\f198"; }

.fa-envelope-square:before {
  content: "\f199"; }

.fa-wordpress:before {
  content: "\f19a"; }

.fa-openid:before {
  content: "\f19b"; }

.fa-institution:before, .fa-bank:before, .fa-university:before {
  content: "\f19c"; }

.fa-mortar-board:before, .fa-graduation-cap:before {
  content: "\f19d"; }

.fa-yahoo:before {
  content: "\f19e"; }

.fa-google:before {
  content: "\f1a0"; }

.fa-reddit:before {
  content: "\f1a1"; }

.fa-reddit-square:before {
  content: "\f1a2"; }

.fa-stumbleupon-circle:before {
  content: "\f1a3"; }

.fa-stumbleupon:before {
  content: "\f1a4"; }

.fa-delicious:before {
  content: "\f1a5"; }

.fa-digg:before {
  content: "\f1a6"; }

.fa-pied-piper-pp:before {
  content: "\f1a7"; }

.fa-pied-piper-alt:before {
  content: "\f1a8"; }

.fa-drupal:before {
  content: "\f1a9"; }

.fa-joomla:before {
  content: "\f1aa"; }

.fa-language:before {
  content: "\f1ab"; }

.fa-fax:before {
  content: "\f1ac"; }

.fa-building:before {
  content: "\f1ad"; }

.fa-child:before {
  content: "\f1ae"; }

.fa-paw:before {
  content: "\f1b0"; }

.fa-spoon:before {
  content: "\f1b1"; }

.fa-cube:before {
  content: "\f1b2"; }

.fa-cubes:before {
  content: "\f1b3"; }

.fa-behance:before {
  content: "\f1b4"; }

.fa-behance-square:before {
  content: "\f1b5"; }

.fa-steam:before {
  content: "\f1b6"; }

.fa-steam-square:before {
  content: "\f1b7"; }

.fa-recycle:before {
  content: "\f1b8"; }

.fa-automobile:before, .fa-car:before {
  content: "\f1b9"; }

.fa-cab:before, .fa-taxi:before {
  content: "\f1ba"; }

.fa-tree:before {
  content: "\f1bb"; }

.fa-spotify:before {
  content: "\f1bc"; }

.fa-deviantart:before {
  content: "\f1bd"; }

.fa-soundcloud:before {
  content: "\f1be"; }

.fa-database:before {
  content: "\f1c0"; }

.fa-file-pdf-o:before {
  content: "\f1c1"; }

.fa-file-word-o:before {
  content: "\f1c2"; }

.fa-file-excel-o:before {
  content: "\f1c3"; }

.fa-file-powerpoint-o:before {
  content: "\f1c4"; }

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
  content: "\f1c5"; }

.fa-file-zip-o:before, .fa-file-archive-o:before {
  content: "\f1c6"; }

.fa-file-sound-o:before, .fa-file-audio-o:before {
  content: "\f1c7"; }

.fa-file-movie-o:before, .fa-file-video-o:before {
  content: "\f1c8"; }

.fa-file-code-o:before {
  content: "\f1c9"; }

.fa-vine:before {
  content: "\f1ca"; }

.fa-codepen:before {
  content: "\f1cb"; }

.fa-jsfiddle:before {
  content: "\f1cc"; }

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
  content: "\f1cd"; }

.fa-circle-o-notch:before {
  content: "\f1ce"; }

.fa-ra:before, .fa-resistance:before, .fa-rebel:before {
  content: "\f1d0"; }

.fa-ge:before, .fa-empire:before {
  content: "\f1d1"; }

.fa-git-square:before {
  content: "\f1d2"; }

.fa-git:before {
  content: "\f1d3"; }

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
  content: "\f1d4"; }

.fa-tencent-weibo:before {
  content: "\f1d5"; }

.fa-qq:before {
  content: "\f1d6"; }

.fa-wechat:before, .fa-weixin:before {
  content: "\f1d7"; }

.fa-send:before, .fa-paper-plane:before {
  content: "\f1d8"; }

.fa-send-o:before, .fa-paper-plane-o:before {
  content: "\f1d9"; }

.fa-history:before {
  content: "\f1da"; }

.fa-circle-thin:before {
  content: "\f1db"; }

.fa-header:before {
  content: "\f1dc"; }

.fa-paragraph:before {
  content: "\f1dd"; }

.fa-sliders:before {
  content: "\f1de"; }

.fa-share-alt:before {
  content: "\f1e0"; }

.fa-share-alt-square:before {
  content: "\f1e1"; }

.fa-bomb:before {
  content: "\f1e2"; }

.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "\f1e3"; }

.fa-tty:before {
  content: "\f1e4"; }

.fa-binoculars:before {
  content: "\f1e5"; }

.fa-plug:before {
  content: "\f1e6"; }

.fa-slideshare:before {
  content: "\f1e7"; }

.fa-twitch:before {
  content: "\f1e8"; }

.fa-yelp:before {
  content: "\f1e9"; }

.fa-newspaper-o:before {
  content: "\f1ea"; }

.fa-wifi:before {
  content: "\f1eb"; }

.fa-calculator:before {
  content: "\f1ec"; }

.fa-paypal:before {
  content: "\f1ed"; }

.fa-google-wallet:before {
  content: "\f1ee"; }

.fa-cc-visa:before {
  content: "\f1f0"; }

.fa-cc-mastercard:before {
  content: "\f1f1"; }

.fa-cc-discover:before {
  content: "\f1f2"; }

.fa-cc-amex:before {
  content: "\f1f3"; }

.fa-cc-paypal:before {
  content: "\f1f4"; }

.fa-cc-stripe:before {
  content: "\f1f5"; }

.fa-bell-slash:before {
  content: "\f1f6"; }

.fa-bell-slash-o:before {
  content: "\f1f7"; }

.fa-trash:before {
  content: "\f1f8"; }

.fa-copyright:before {
  content: "\f1f9"; }

.fa-at:before {
  content: "\f1fa"; }

.fa-eyedropper:before {
  content: "\f1fb"; }

.fa-paint-brush:before {
  content: "\f1fc"; }

.fa-birthday-cake:before {
  content: "\f1fd"; }

.fa-area-chart:before {
  content: "\f1fe"; }

.fa-pie-chart:before {
  content: "\f200"; }

.fa-line-chart:before {
  content: "\f201"; }

.fa-lastfm:before {
  content: "\f202"; }

.fa-lastfm-square:before {
  content: "\f203"; }

.fa-toggle-off:before {
  content: "\f204"; }

.fa-toggle-on:before {
  content: "\f205"; }

.fa-bicycle:before {
  content: "\f206"; }

.fa-bus:before {
  content: "\f207"; }

.fa-ioxhost:before {
  content: "\f208"; }

.fa-angellist:before {
  content: "\f209"; }

.fa-cc:before {
  content: "\f20a"; }

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
  content: "\f20b"; }

.fa-meanpath:before {
  content: "\f20c"; }

.fa-buysellads:before {
  content: "\f20d"; }

.fa-connectdevelop:before {
  content: "\f20e"; }

.fa-dashcube:before {
  content: "\f210"; }

.fa-forumbee:before {
  content: "\f211"; }

.fa-leanpub:before {
  content: "\f212"; }

.fa-sellsy:before {
  content: "\f213"; }

.fa-shirtsinbulk:before {
  content: "\f214"; }

.fa-simplybuilt:before {
  content: "\f215"; }

.fa-skyatlas:before {
  content: "\f216"; }

.fa-cart-plus:before {
  content: "\f217"; }

.fa-cart-arrow-down:before {
  content: "\f218"; }

.fa-diamond:before {
  content: "\f219"; }

.fa-ship:before {
  content: "\f21a"; }

.fa-user-secret:before {
  content: "\f21b"; }

.fa-motorcycle:before {
  content: "\f21c"; }

.fa-street-view:before {
  content: "\f21d"; }

.fa-heartbeat:before {
  content: "\f21e"; }

.fa-venus:before {
  content: "\f221"; }

.fa-mars:before {
  content: "\f222"; }

.fa-mercury:before {
  content: "\f223"; }

.fa-intersex:before, .fa-transgender:before {
  content: "\f224"; }

.fa-transgender-alt:before {
  content: "\f225"; }

.fa-venus-double:before {
  content: "\f226"; }

.fa-mars-double:before {
  content: "\f227"; }

.fa-venus-mars:before {
  content: "\f228"; }

.fa-mars-stroke:before {
  content: "\f229"; }

.fa-mars-stroke-v:before {
  content: "\f22a"; }

.fa-mars-stroke-h:before {
  content: "\f22b"; }

.fa-neuter:before {
  content: "\f22c"; }

.fa-genderless:before {
  content: "\f22d"; }

.fa-facebook-official:before {
  content: "\f230"; }

.fa-pinterest-p:before {
  content: "\f231"; }

.fa-whatsapp:before {
  content: "\f232"; }

.fa-server:before {
  content: "\f233"; }

.fa-user-plus:before {
  content: "\f234"; }

.fa-user-times:before {
  content: "\f235"; }

.fa-hotel:before, .fa-bed:before {
  content: "\f236"; }

.fa-viacoin:before {
  content: "\f237"; }

.fa-train:before {
  content: "\f238"; }

.fa-subway:before {
  content: "\f239"; }

.fa-medium:before {
  content: "\f23a"; }

.fa-yc:before, .fa-y-combinator:before {
  content: "\f23b"; }

.fa-optin-monster:before {
  content: "\f23c"; }

.fa-opencart:before {
  content: "\f23d"; }

.fa-expeditedssl:before {
  content: "\f23e"; }

.fa-battery-4:before, .fa-battery:before, .fa-battery-full:before {
  content: "\f240"; }

.fa-battery-3:before, .fa-battery-three-quarters:before {
  content: "\f241"; }

.fa-battery-2:before, .fa-battery-half:before {
  content: "\f242"; }

.fa-battery-1:before, .fa-battery-quarter:before {
  content: "\f243"; }

.fa-battery-0:before, .fa-battery-empty:before {
  content: "\f244"; }

.fa-mouse-pointer:before {
  content: "\f245"; }

.fa-i-cursor:before {
  content: "\f246"; }

.fa-object-group:before {
  content: "\f247"; }

.fa-object-ungroup:before {
  content: "\f248"; }

.fa-sticky-note:before {
  content: "\f249"; }

.fa-sticky-note-o:before {
  content: "\f24a"; }

.fa-cc-jcb:before {
  content: "\f24b"; }

.fa-cc-diners-club:before {
  content: "\f24c"; }

.fa-clone:before {
  content: "\f24d"; }

.fa-balance-scale:before {
  content: "\f24e"; }

.fa-hourglass-o:before {
  content: "\f250"; }

.fa-hourglass-1:before, .fa-hourglass-start:before {
  content: "\f251"; }

.fa-hourglass-2:before, .fa-hourglass-half:before {
  content: "\f252"; }

.fa-hourglass-3:before, .fa-hourglass-end:before {
  content: "\f253"; }

.fa-hourglass:before {
  content: "\f254"; }

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
  content: "\f255"; }

.fa-hand-stop-o:before, .fa-hand-paper-o:before {
  content: "\f256"; }

.fa-hand-scissors-o:before {
  content: "\f257"; }

.fa-hand-lizard-o:before {
  content: "\f258"; }

.fa-hand-spock-o:before {
  content: "\f259"; }

.fa-hand-pointer-o:before {
  content: "\f25a"; }

.fa-hand-peace-o:before {
  content: "\f25b"; }

.fa-trademark:before {
  content: "\f25c"; }

.fa-registered:before {
  content: "\f25d"; }

.fa-creative-commons:before {
  content: "\f25e"; }

.fa-gg:before {
  content: "\f260"; }

.fa-gg-circle:before {
  content: "\f261"; }

.fa-tripadvisor:before {
  content: "\f262"; }

.fa-odnoklassniki:before {
  content: "\f263"; }

.fa-odnoklassniki-square:before {
  content: "\f264"; }

.fa-get-pocket:before {
  content: "\f265"; }

.fa-wikipedia-w:before {
  content: "\f266"; }

.fa-safari:before {
  content: "\f267"; }

.fa-chrome:before {
  content: "\f268"; }

.fa-firefox:before {
  content: "\f269"; }

.fa-opera:before {
  content: "\f26a"; }

.fa-internet-explorer:before {
  content: "\f26b"; }

.fa-tv:before, .fa-television:before {
  content: "\f26c"; }

.fa-contao:before {
  content: "\f26d"; }

.fa-500px:before {
  content: "\f26e"; }

.fa-amazon:before {
  content: "\f270"; }

.fa-calendar-plus-o:before {
  content: "\f271"; }

.fa-calendar-minus-o:before {
  content: "\f272"; }

.fa-calendar-times-o:before {
  content: "\f273"; }

.fa-calendar-check-o:before {
  content: "\f274"; }

.fa-industry:before {
  content: "\f275"; }

.fa-map-pin:before {
  content: "\f276"; }

.fa-map-signs:before {
  content: "\f277"; }

.fa-map-o:before {
  content: "\f278"; }

.fa-map:before {
  content: "\f279"; }

.fa-commenting:before {
  content: "\f27a"; }

.fa-commenting-o:before {
  content: "\f27b"; }

.fa-houzz:before {
  content: "\f27c"; }

.fa-vimeo:before {
  content: "\f27d"; }

.fa-black-tie:before {
  content: "\f27e"; }

.fa-fonticons:before {
  content: "\f280"; }

.fa-reddit-alien:before {
  content: "\f281"; }

.fa-edge:before {
  content: "\f282"; }

.fa-credit-card-alt:before {
  content: "\f283"; }

.fa-codiepie:before {
  content: "\f284"; }

.fa-modx:before {
  content: "\f285"; }

.fa-fort-awesome:before {
  content: "\f286"; }

.fa-usb:before {
  content: "\f287"; }

.fa-product-hunt:before {
  content: "\f288"; }

.fa-mixcloud:before {
  content: "\f289"; }

.fa-scribd:before {
  content: "\f28a"; }

.fa-pause-circle:before {
  content: "\f28b"; }

.fa-pause-circle-o:before {
  content: "\f28c"; }

.fa-stop-circle:before {
  content: "\f28d"; }

.fa-stop-circle-o:before {
  content: "\f28e"; }

.fa-shopping-bag:before {
  content: "\f290"; }

.fa-shopping-basket:before {
  content: "\f291"; }

.fa-hashtag:before {
  content: "\f292"; }

.fa-bluetooth:before {
  content: "\f293"; }

.fa-bluetooth-b:before {
  content: "\f294"; }

.fa-percent:before {
  content: "\f295"; }

.fa-gitlab:before {
  content: "\f296"; }

.fa-wpbeginner:before {
  content: "\f297"; }

.fa-wpforms:before {
  content: "\f298"; }

.fa-envira:before {
  content: "\f299"; }

.fa-universal-access:before {
  content: "\f29a"; }

.fa-wheelchair-alt:before {
  content: "\f29b"; }

.fa-question-circle-o:before {
  content: "\f29c"; }

.fa-blind:before {
  content: "\f29d"; }

.fa-audio-description:before {
  content: "\f29e"; }

.fa-volume-control-phone:before {
  content: "\f2a0"; }

.fa-braille:before {
  content: "\f2a1"; }

.fa-assistive-listening-systems:before {
  content: "\f2a2"; }

.fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before {
  content: "\f2a3"; }

.fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before {
  content: "\f2a4"; }

.fa-glide:before {
  content: "\f2a5"; }

.fa-glide-g:before {
  content: "\f2a6"; }

.fa-signing:before, .fa-sign-language:before {
  content: "\f2a7"; }

.fa-low-vision:before {
  content: "\f2a8"; }

.fa-viadeo:before {
  content: "\f2a9"; }

.fa-viadeo-square:before {
  content: "\f2aa"; }

.fa-snapchat:before {
  content: "\f2ab"; }

.fa-snapchat-ghost:before {
  content: "\f2ac"; }

.fa-snapchat-square:before {
  content: "\f2ad"; }

.fa-pied-piper:before {
  content: "\f2ae"; }

.fa-first-order:before {
  content: "\f2b0"; }

.fa-yoast:before {
  content: "\f2b1"; }

.fa-themeisle:before {
  content: "\f2b2"; }

.fa-google-plus-circle:before, .fa-google-plus-official:before {
  content: "\f2b3"; }

.fa-fa:before, .fa-font-awesome:before {
  content: "\f2b4"; }

.fa-handshake-o:before {
  content: "\f2b5"; }

.fa-envelope-open:before {
  content: "\f2b6"; }

.fa-envelope-open-o:before {
  content: "\f2b7"; }

.fa-linode:before {
  content: "\f2b8"; }

.fa-address-book:before {
  content: "\f2b9"; }

.fa-address-book-o:before {
  content: "\f2ba"; }

.fa-vcard:before, .fa-address-card:before {
  content: "\f2bb"; }

.fa-vcard-o:before, .fa-address-card-o:before {
  content: "\f2bc"; }

.fa-user-circle:before {
  content: "\f2bd"; }

.fa-user-circle-o:before {
  content: "\f2be"; }

.fa-user-o:before {
  content: "\f2c0"; }

.fa-id-badge:before {
  content: "\f2c1"; }

.fa-drivers-license:before, .fa-id-card:before {
  content: "\f2c2"; }

.fa-drivers-license-o:before, .fa-id-card-o:before {
  content: "\f2c3"; }

.fa-quora:before {
  content: "\f2c4"; }

.fa-free-code-camp:before {
  content: "\f2c5"; }

.fa-telegram:before {
  content: "\f2c6"; }

.fa-thermometer-4:before, .fa-thermometer:before, .fa-thermometer-full:before {
  content: "\f2c7"; }

.fa-thermometer-3:before, .fa-thermometer-three-quarters:before {
  content: "\f2c8"; }

.fa-thermometer-2:before, .fa-thermometer-half:before {
  content: "\f2c9"; }

.fa-thermometer-1:before, .fa-thermometer-quarter:before {
  content: "\f2ca"; }

.fa-thermometer-0:before, .fa-thermometer-empty:before {
  content: "\f2cb"; }

.fa-shower:before {
  content: "\f2cc"; }

.fa-bathtub:before, .fa-s15:before, .fa-bath:before {
  content: "\f2cd"; }

.fa-podcast:before {
  content: "\f2ce"; }

.fa-window-maximize:before {
  content: "\f2d0"; }

.fa-window-minimize:before {
  content: "\f2d1"; }

.fa-window-restore:before {
  content: "\f2d2"; }

.fa-times-rectangle:before, .fa-window-close:before {
  content: "\f2d3"; }

.fa-times-rectangle-o:before, .fa-window-close-o:before {
  content: "\f2d4"; }

.fa-bandcamp:before {
  content: "\f2d5"; }

.fa-grav:before {
  content: "\f2d6"; }

.fa-etsy:before {
  content: "\f2d7"; }

.fa-imdb:before {
  content: "\f2d8"; }

.fa-ravelry:before {
  content: "\f2d9"; }

.fa-eercast:before {
  content: "\f2da"; }

.fa-microchip:before {
  content: "\f2db"; }

.fa-snowflake-o:before {
  content: "\f2dc"; }

.fa-superpowers:before {
  content: "\f2dd"; }

.fa-wpexplorer:before {
  content: "\f2de"; }

.fa-meetup:before {
  content: "\f2e0"; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

header {
  padding-top: 1rem;
  padding-bottom: 0;
  background-color: #fff;
  /* Black background color */
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  -webkit-transition: top 0.8s;
  -o-transition: top 0.8s;
  transition: top 0.8s;
  /* Transition effect when sliding down (and up) */
  z-index: 9; }
  header.scrolled {
    -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15); }
  header a img.Logo {
    margin: 0 auto;
    display: block; }
  header .HeaderMenuBox {
    padding: 10px 0;
    margin-top: 15px;
    border-top: thin solid #ddd; }
  header .MenuHeader nav {
    display: block;
    position: relative; }
    header .MenuHeader nav div.DesktopMenu {
      display: none; }
      header .MenuHeader nav div.DesktopMenu ul {
        list-style: none;
        margin: 0 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 .5rem;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .MenuHeader nav div.DesktopMenu ul li {
          display: inline-block;
          position: relative;
          width: auto;
          height: auto;
          vertical-align: top;
          margin: 0 auto; }
          header .MenuHeader nav div.DesktopMenu ul li:first-child {
            margin-left: 0; }
          header .MenuHeader nav div.DesktopMenu ul li:last-child {
            margin-right: 0; }
          header .MenuHeader nav div.DesktopMenu ul li:last-child {
            padding-right: 0; }
          header .MenuHeader nav div.DesktopMenu ul li .active::before {
            -webkit-transform: scaleX(1) !important;
                -ms-transform: scaleX(1) !important;
                    transform: scaleX(1) !important; }
          header .MenuHeader nav div.DesktopMenu ul li a {
            text-decoration: none;
            padding-top: 0;
            padding-bottom: 2px;
            padding-left: 0;
            margin-bottom: 0;
            border-bottom: 2px solid transparent;
            color: #6c6c6c;
            line-height: 26px;
            opacity: 1;
            visibility: visible;
            position: relative;
            display: block;
            width: auto;
            height: auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: "Open Sans", sans-serif; }
            header .MenuHeader nav div.DesktopMenu ul li a:before {
              content: '';
              position: absolute;
              border-bottom: 2px solid #3c98b1;
              width: 0;
              height: 2px;
              left: 0;
              bottom: 0;
              -webkit-transition: 0.6s linear;
              -o-transition: 0.6s linear;
              transition: 0.6s linear; }
            header .MenuHeader nav div.DesktopMenu ul li a.current-menu-item {
              color: #333; }
              header .MenuHeader nav div.DesktopMenu ul li a.current-menu-item:before {
                content: '';
                position: absolute;
                border-bottom: 2px solid #3c98b1;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                -webkit-transition: 0.3s linear;
                -o-transition: 0.3s linear;
                transition: 0.3s linear; }
            header .MenuHeader nav div.DesktopMenu ul li a:hover {
              color: #333; }
              header .MenuHeader nav div.DesktopMenu ul li a:hover:before {
                width: 100%; }
            header .MenuHeader nav div.DesktopMenu ul li a:focus {
              color: #333; }
              header .MenuHeader nav div.DesktopMenu ul li a:focus:before {
                content: '';
                position: absolute;
                border-bottom: 2px solid #3c98b1;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                -webkit-transition: 0.1s linear;
                -o-transition: 0.1s linear;
                transition: 0.1s linear; }
          header .MenuHeader nav div.DesktopMenu ul li.active a::before {
            -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                    transform: scaleX(1); }
          header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children a::after {
            border-style: solid;
            border-width: 0.05em 0.05em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 0;
            top: 0;
            color: #808080;
            -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                    transform: rotate(135deg);
            width: 0.45em;
            -webkit-transition: all ease 0.5s;
            -o-transition: all ease 0.5s;
            transition: all ease 0.5s;
            margin-left: 7px;
            margin-top: 7px;
            vertical-align: top; }
          header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children:hover ul.sub-menu {
            opacity: 1;
            visibility: visible; }
          header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children ul.sub-menu {
            position: absolute;
            top: 100%;
            display: block;
            left: 0;
            min-width: 300px;
            height: auto;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #3c98b1;
            z-index: 1;
            margin: 0; }
            header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children ul.sub-menu li {
              position: relative;
              width: 100%;
              height: auto;
              float: left; }
              header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children ul.sub-menu li a {
                position: relative;
                margin-bottom: 0;
                display: block;
                text-transform: uppercase;
                font-size: 13px;
                text-decoration: none;
                cursor: pointer;
                color: #fff;
                text-align: left;
                font-style: normal;
                padding: 10px 15px;
                width: auto;
                height: auto;
                visibility: inherit;
                font-weight: 500;
                opacity: inherit;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                font-family: Open Sans;
                line-height: 20px; }
                header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children ul.sub-menu li a:hover li {
                  background: rgba(221, 174, 53, 0.7); }
                header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children ul.sub-menu li a::before, header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children ul.sub-menu li a::after {
                  display: none; }
          header .MenuHeader nav div.DesktopMenu ul li.menu-item-has-children .SubMenuController {
            padding-left: 5px;
            -webkit-transition: all ease 0.2s;
            -o-transition: all ease 0.2s;
            transition: all ease 0.2s; }
      @media screen and (min-width: 768px) {
        header .MenuHeader nav div.DesktopMenu {
          display: block; } }

footer {
  background: #333333; }
  footer .TopFooterMenu {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block; }
    @media screen and (min-width: 768px) {
      footer .TopFooterMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    footer .TopFooterMenu .Grid {
      padding-right: 0;
      padding-left: 0;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .TopFooterMenu .Grid:nth-child(1) {
        -ms-flex-preferred-size: 24%;
            flex-basis: 24%;
        padding-left: 0; }
      footer .TopFooterMenu .Grid:nth-child(2) {
        -ms-flex-preferred-size: 14%;
            flex-basis: 14%; }
      footer .TopFooterMenu .Grid:nth-child(3) {
        -ms-flex-preferred-size: 26%;
            flex-basis: 26%; }
      footer .TopFooterMenu .Grid:nth-child(4) {
        -ms-flex-preferred-size: 36%;
            flex-basis: 36%;
        padding-right: 0; }
      footer .TopFooterMenu .Grid h4 {
        color: #ddd;
        font-size: 18px;
        margin-top: 4.5rem;
        font-weight: 500; }
      footer .TopFooterMenu .Grid p {
        text-align: left;
        margin-top: 2rem;
        color: #fff;
        font-weight: 500;
        font-size: 15px; }
      footer .TopFooterMenu .Grid ul.SocialIcons {
        margin: 3rem auto 0 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        footer .TopFooterMenu .Grid ul.SocialIcons li {
          display: inline-block;
          margin-right: 1.2rem;
          color: #fff;
          font-size: 18px;
          font-family: Lato; }
          footer .TopFooterMenu .Grid ul.SocialIcons li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: #333;
            -webkit-transition: background ease 0.1s;
            -o-transition: background ease 0.1s;
            transition: background ease 0.1s; }
            footer .TopFooterMenu .Grid ul.SocialIcons li a svg {
              width: 22px;
              height: 22px;
              fill: #ffffff; }
              footer .TopFooterMenu .Grid ul.SocialIcons li a svg:hover {
                fill: #ddd; }
          footer .TopFooterMenu .Grid ul.SocialIcons li:last-child {
            margin-right: 0; }
      footer .TopFooterMenu .Grid ul.FooterMenuElement {
        margin-top: 0rem; }
        footer .TopFooterMenu .Grid ul.FooterMenuElement li {
          margin-top: 1rem; }
          footer .TopFooterMenu .Grid ul.FooterMenuElement li a {
            color: #ddd;
            font-weight: 100;
            font-family: Open Sans;
            font-size: 13px;
            text-decoration: none;
            -webkit-transition: 0.4s all;
            -o-transition: 0.4s all;
            transition: 0.4s all; }
            footer .TopFooterMenu .Grid ul.FooterMenuElement li a:hover {
              color: #fff; }
        @media screen and (min-width: 768px) {
          footer .TopFooterMenu .Grid ul.FooterMenuElement {
            margin-top: 2.8rem; } }
      @media screen and (min-width: 768px) {
        footer .TopFooterMenu .Grid {
          padding-right: 15px;
          padding-left: 15px; } }
      footer .TopFooterMenu .Grid form {
        margin-top: 1.8rem; }
        footer .TopFooterMenu .Grid form input[type="email"] {
          padding: 12px;
          border: none;
          width: 100%;
          font-size: 16px; }
          @media screen and (min-width: 768px) {
            footer .TopFooterMenu .Grid form input[type="email"] {
              width: 71%; } }
        footer .TopFooterMenu .Grid form input[type="submit"] {
          padding: 13px 22px 12px;
          border: none;
          margin-left: 0;
          margin-top: 1rem;
          font-size: 15px;
          background: #3f95b6;
          color: #ffffff;
          cursor: pointer;
          width: 100%; }
          @media screen and (min-width: 768px) {
            footer .TopFooterMenu .Grid form input[type="submit"] {
              width: auto;
              margin-left: -3px;
              margin-top: 0; } }
    footer .TopFooterMenu .subscribeTxt {
      margin-top: 2.9rem !important;
      font-size: 13px !important;
      font-weight: 100 !important;
      color: #ddd !important; }
  footer .BottomFooterMenu {
    padding-top: 0;
    padding-bottom: 4rem;
    display: block; }
    @media screen and (min-width: 768px) {
      footer .BottomFooterMenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    footer .BottomFooterMenu .Grid {
      padding-right: 0;
      padding-left: 0;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .BottomFooterMenu .Grid:nth-child(1) {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        padding-left: 0; }
      footer .BottomFooterMenu .Grid:nth-child(2) {
        -ms-flex-preferred-size: 17%;
            flex-basis: 17%; }
      footer .BottomFooterMenu .Grid:nth-child(3) {
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%; }
      footer .BottomFooterMenu .Grid:nth-child(4) {
        -ms-flex-preferred-size: 14%;
            flex-basis: 14%; }
      footer .BottomFooterMenu .Grid:nth-child(5) {
        -ms-flex-preferred-size: 14%;
            flex-basis: 14%; }
      footer .BottomFooterMenu .Grid:nth-child(6) {
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
        padding-right: 0; }
      footer .BottomFooterMenu .Grid h4 {
        color: #ddd;
        font-size: 18px;
        font-weight: 500;
        margin-top: 2rem; }
        @media screen and (min-width: 768px) {
          footer .BottomFooterMenu .Grid h4 {
            margin-top: 0; } }
      footer .BottomFooterMenu .Grid p {
        text-align: left;
        margin-top: 2rem;
        color: #ddd;
        font-weight: 100;
        font-size: 15px; }
      footer .BottomFooterMenu .Grid ul.SocialIcons {
        margin: 3rem auto 0 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        footer .BottomFooterMenu .Grid ul.SocialIcons li {
          display: inline-block;
          margin-right: 1.2rem;
          color: #fff;
          font-size: 18px;
          font-family: Lato; }
          footer .BottomFooterMenu .Grid ul.SocialIcons li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background: #333;
            -webkit-transition: background ease 0.1s;
            -o-transition: background ease 0.1s;
            transition: background ease 0.1s; }
            footer .BottomFooterMenu .Grid ul.SocialIcons li a svg {
              width: 22px;
              height: 22px;
              fill: #ffffff; }
              footer .BottomFooterMenu .Grid ul.SocialIcons li a svg:hover {
                fill: #ddd; }
          footer .BottomFooterMenu .Grid ul.SocialIcons li:last-child {
            margin-right: 0; }
      footer .BottomFooterMenu .Grid ul.FooterMenuElement {
        margin-top: 0rem; }
        footer .BottomFooterMenu .Grid ul.FooterMenuElement li {
          margin-top: 1rem; }
          footer .BottomFooterMenu .Grid ul.FooterMenuElement li a {
            color: #ddd;
            font-weight: 300;
            font-family: Open Sans;
            font-size: 13px;
            text-decoration: none;
            -webkit-transition: 0.4s all;
            -o-transition: 0.4s all;
            transition: 0.4s all; }
            footer .BottomFooterMenu .Grid ul.FooterMenuElement li a:hover {
              color: #fff; }
        @media screen and (min-width: 768px) {
          footer .BottomFooterMenu .Grid ul.FooterMenuElement {
            margin-top: 2.8rem; } }
      footer .BottomFooterMenu .Grid ul.ContactDetails {
        margin-top: 2.8rem; }
        footer .BottomFooterMenu .Grid ul.ContactDetails li {
          margin-bottom: 2rem;
          color: #fff;
          font-weight: 100;
          font-family: Open Sans;
          font-size: 13px; }
          footer .BottomFooterMenu .Grid ul.ContactDetails li a {
            color: #fff;
            font-weight: 100;
            font-family: Open Sans;
            font-size: 13px;
            text-decoration: none;
            -webkit-transition: 0.4s all;
            -o-transition: 0.4s all;
            transition: 0.4s all; }
            footer .BottomFooterMenu .Grid ul.ContactDetails li a:hover {
              color: #fff; }
            footer .BottomFooterMenu .Grid ul.ContactDetails li a img {
              float: left;
              margin-right: 8px;
              margin-top: 3px; }
          footer .BottomFooterMenu .Grid ul.ContactDetails li img {
            float: left;
            margin-right: 8px;
            margin-top: 3px; }
      @media screen and (min-width: 768px) {
        footer .BottomFooterMenu .Grid {
          padding-right: 15px;
          padding-left: 15px; } }
      footer .BottomFooterMenu .Grid form {
        margin-top: 1.8rem; }
        footer .BottomFooterMenu .Grid form input[type="email"] {
          padding: 12px;
          border: none;
          width: 66%;
          font-size: 16px; }
        footer .BottomFooterMenu .Grid form input[type="submit"] {
          padding: 13px 22px 12px;
          border: none;
          margin-left: -3px;
          font-size: 15px;
          background: #3f95b6;
          color: #ffffff;
          cursor: pointer; }
    footer .BottomFooterMenu .subscribeTxt {
      margin-top: 2.9rem !important;
      font-size: 13px !important; }
  footer .CopyrightBlock {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px thin solid #5d5d5d; }
    footer .CopyrightBlock p {
      font-weight: 100;
      color: #ddd;
      margin: 0; }
      footer .CopyrightBlock p a {
        color: #ddd;
        text-decoration: none; }

.LeftContentRightImage {
  padding-top: 0;
  margin-top: 9rem; }
  .LeftContentRightImage .GridWrapper {
    display: block; }
    @media screen and (min-width: 768px) {
      .LeftContentRightImage .GridWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .LeftContentRightImage .GridWrapper .Grid {
      padding-right: 10px;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 10px; }
      @media screen and (min-width: 768px) {
        .LeftContentRightImage .GridWrapper .Grid {
          padding-left: 0;
          padding-right: 0; } }
      .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-top: 2rem; }
        @media screen and (min-width: 768px) {
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock {
            padding-left: 5rem;
            padding-right: 5rem;
            margin-top: 0; } }
        @media screen and (min-width: 1024px) {
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock {
            padding-left: 6rem;
            padding-right: 5rem;
            margin-top: 0; } }
        @media screen and (min-width: 1200px) {
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock {
            padding-left: 12rem;
            padding-right: 5rem;
            margin-top: 0; } }
        @media screen and (min-width: 1400px) {
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock {
            padding-left: 24rem;
            padding-right: 5rem;
            margin-top: 0; } }
        .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock h1 {
          font-weight: 100;
          margin-bottom: 1rem;
          max-width: 100%; }
          @media screen and (min-width: 768px) {
            .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock h1 {
              max-width: 300px; } }
        .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock p {
          margin: 1rem 0;
          font-size: 18px; }
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock p.ButtonElement {
            margin-top: 4rem; }
        .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button {
          border: 1px solid transparent;
          color: #fff;
          text-decoration: none;
          position: relative;
          font-weight: 600;
          font-size: 16px;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s;
          background-color: #3c98b1;
          padding: 1.5rem 5rem; }
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button span {
            position: relative;
            left: -15px;
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s; }
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button:before {
            content: '';
            position: absolute;
            right: 32px;
            top: 53%;
            -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
            background-color: #ffffff;
            width: 20px;
            height: 1px;
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s; }
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button:after {
            content: '\f105';
            position: absolute;
            right: 36px;
            top: 29%;
            -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
            width: 0;
            height: 0;
            color: #ffffff;
            font-family: 'FontAwesome';
            -webkit-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            transition: all ease 0.3s; }
          .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button:hover {
            border: 1px solid #3c98b1;
            background-color: transparent; }
            .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button:hover span {
              color: #3c98b1; }
            .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button:hover:before {
              background-color: #3c98b1; }
            .LeftContentRightImage .GridWrapper .Grid .LeftContentBlock .Button:hover:after {
              color: #3c98b1; }
      .LeftContentRightImage .GridWrapper .Grid img {
        width: 100%; }

.RightContentLeftImage h2 {
  font-weight: 100;
  text-align: center;
  margin-bottom: 4rem; }

.RightContentLeftImage .RightContentBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .RightContentLeftImage .RightContentBlock h4 {
    font-size: 28px;
    line-height: 1.6;
    font-weight: 100;
    margin-bottom: 1rem; }
  .RightContentLeftImage .RightContentBlock p {
    margin: 1rem 0; }
    .RightContentLeftImage .RightContentBlock p.ButtonElement {
      margin-top: 4rem; }
  .RightContentLeftImage .RightContentBlock .Button {
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    padding: 1.3rem 4rem;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    background-color: #3c98b1; }
    .RightContentLeftImage .RightContentBlock .Button span {
      position: relative;
      left: -15px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .RightContentLeftImage .RightContentBlock .Button:before {
      content: '';
      position: absolute;
      right: 25px;
      top: 53%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background-color: #ffffff;
      width: 20px;
      height: 1px;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .RightContentLeftImage .RightContentBlock .Button:after {
      content: '\f105';
      position: absolute;
      right: 30px;
      top: 26%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: 0;
      height: 0;
      color: #ffffff;
      font-family: 'FontAwesome';
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s; }
    .RightContentLeftImage .RightContentBlock .Button:hover {
      border: 1px solid #3c98b1;
      background-color: transparent; }
      .RightContentLeftImage .RightContentBlock .Button:hover span {
        color: #3c98b1; }
      .RightContentLeftImage .RightContentBlock .Button:hover:before {
        background-color: #3c98b1; }
      .RightContentLeftImage .RightContentBlock .Button:hover:after {
        color: #3c98b1; }

.LeftContentRightImageBlock .GridWrapper {
  display: block; }
  @media screen and (min-width: 768px) {
    .LeftContentRightImageBlock .GridWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .LeftContentRightImageBlock .GridWrapper .Grid {
    padding-right: 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px; }
    @media screen and (min-width: 768px) {
      .LeftContentRightImageBlock .GridWrapper .Grid {
        padding-left: 0;
        padding-right: 0; } }
    .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 0rem;
      padding-right: 0rem;
      margin-top: 2rem; }
      @media screen and (min-width: 768px) {
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent {
          padding-left: 5rem;
          padding-right: 5rem;
          margin-top: 0; } }
      @media screen and (min-width: 1024px) {
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent {
          padding-left: 6rem;
          padding-right: 5rem;
          margin-top: 0; } }
      @media screen and (min-width: 1200px) {
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent {
          padding-left: 12rem;
          padding-right: 5rem;
          margin-top: 0; } }
      @media screen and (min-width: 1400px) {
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent {
          padding-left: 24rem;
          padding-right: 5rem;
          margin-top: 0; } }
      .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent h2 {
        font-weight: 100;
        margin-bottom: 1rem;
        max-width: 100%; }
        @media screen and (min-width: 768px) {
          .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent h2 {
            max-width: 300px; } }
      .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent p {
        margin: 1rem 0;
        font-size: 16px;
        line-height: 1.8; }
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent p.ButtonElement {
          margin-top: 4rem; }
      .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button {
        border: 1px solid transparent;
        color: #fff;
        text-decoration: none;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        background-color: #3c98b1;
        padding: 1.5rem 5rem; }
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button span {
          position: relative;
          left: -15px;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button:before {
          content: '';
          position: absolute;
          right: 32px;
          top: 53%;
          -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          background-color: #ffffff;
          width: 20px;
          height: 1px;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button:after {
          content: '\f105';
          position: absolute;
          right: 36px;
          top: 26%;
          -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          width: 0;
          height: 0;
          color: #ffffff;
          font-family: 'FontAwesome';
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
        .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button:hover {
          border: 1px solid #3c98b1;
          background-color: transparent; }
          .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button:hover span {
            color: #3c98b1; }
          .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button:hover:before {
            background-color: #3c98b1; }
          .LeftContentRightImageBlock .GridWrapper .Grid .LeftContent .Button:hover:after {
            color: #3c98b1; }
    .LeftContentRightImageBlock .GridWrapper .Grid img {
      width: 100%; }

.FullLeftImageRightContent .GridWrapper {
  display: block; }
  @media screen and (min-width: 768px) {
    .FullLeftImageRightContent .GridWrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .FullLeftImageRightContent .GridWrapper .Grid {
    padding-right: 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px; }
    @media screen and (min-width: 768px) {
      .FullLeftImageRightContent .GridWrapper .Grid {
        padding-left: 0;
        padding-right: 0; } }
    .FullLeftImageRightContent .GridWrapper .Grid .LeftContent {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 0rem;
      padding-right: 0rem;
      margin-top: 2rem; }
      @media screen and (min-width: 768px) {
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent {
          padding-left: 5rem;
          padding-right: 5rem;
          margin-top: 0; } }
      @media screen and (min-width: 1024px) {
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent {
          padding-left: 6rem;
          padding-right: 5rem;
          margin-top: 0; } }
      @media screen and (min-width: 1200px) {
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent {
          padding-left: 5rem;
          padding-right: 12rem;
          margin-top: 0; } }
      @media screen and (min-width: 1400px) {
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent {
          padding-left: 5rem;
          padding-right: 25rem;
          margin-top: 0; } }
      .FullLeftImageRightContent .GridWrapper .Grid .LeftContent h2 {
        font-weight: 100;
        margin-bottom: 1rem;
        max-width: 100%; }
        @media screen and (min-width: 768px) {
          .FullLeftImageRightContent .GridWrapper .Grid .LeftContent h2 {
            max-width: 300px; } }
      .FullLeftImageRightContent .GridWrapper .Grid .LeftContent p {
        margin: 1rem 0;
        font-size: 16px;
        line-height: 1.8; }
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent p.ButtonElement {
          margin-top: 4rem; }
      .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button {
        border: 1px solid transparent;
        color: #fff;
        text-decoration: none;
        position: relative;
        font-weight: 600;
        font-size: 16px;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        background-color: #3c98b1;
        padding: 1.5rem 5rem; }
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button span {
          position: relative;
          left: -15px;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button:before {
          content: '';
          position: absolute;
          right: 32px;
          top: 53%;
          -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          background-color: #ffffff;
          width: 20px;
          height: 1px;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button:after {
          content: '\f105';
          position: absolute;
          right: 36px;
          top: 26%;
          -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%);
          width: 0;
          height: 0;
          color: #ffffff;
          font-family: 'FontAwesome';
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
        .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button:hover {
          border: 1px solid #3c98b1;
          background-color: transparent; }
          .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button:hover span {
            color: #3c98b1; }
          .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button:hover:before {
            background-color: #3c98b1; }
          .FullLeftImageRightContent .GridWrapper .Grid .LeftContent .Button:hover:after {
            color: #3c98b1; }
    .FullLeftImageRightContent .GridWrapper .Grid img {
      width: 100%; }

.HomeBottomSlider {
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* Slider */ }
  .HomeBottomSlider h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center; }
  .HomeBottomSlider h4 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 300; }
  .HomeBottomSlider p {
    text-align: center; }
  .HomeBottomSlider .slider-for {
    text-align: center; }
    .HomeBottomSlider .slider-for .slick-slide img {
      margin: 0 auto; }
    .HomeBottomSlider .slider-for .slick-prev {
      background: url(../img/img/temp-img/left-arrow.png) no-repeat; }
    .HomeBottomSlider .slider-for .slick-next {
      background: url(../img/img/temp-img/right-arrow.png) no-repeat; }
    .HomeBottomSlider .slider-for .slick-next, .HomeBottomSlider .slider-for .slick-prev {
      height: 62px;
      width: 62px;
      text-indent: -999px;
      z-index: 1; }
      .HomeBottomSlider .slider-for .slick-next:before, .HomeBottomSlider .slider-for .slick-prev:before {
        display: none; }
  .HomeBottomSlider .slider-nav {
    margin: 0 auto;
    margin-top: 30px; }
    .HomeBottomSlider .slider-nav .slick-list {
      width: 80% !important;
      margin: 0 auto;
      height: 100%; }
      .HomeBottomSlider .slider-nav .slick-list .slick-track {
        height: 100%;
        text-align: center; }
      .HomeBottomSlider .slider-nav .slick-list .slick-current {
        -webkit-transform: scale(1, 1) !important;
            -ms-transform: scale(1, 1) !important;
                transform: scale(1, 1) !important;
        -webkit-box-shadow: 0px 0 7px 4px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 0 7px 4px rgba(0, 0, 0, 0.4);
        background: #ddd !important;
        color: #000;
        position: relative;
        z-index: 9; }
        @media screen and (min-width: 768px) {
          .HomeBottomSlider .slider-nav .slick-list .slick-current {
            background: #fff !important; } }
      .HomeBottomSlider .slider-nav .slick-list .slick-slide {
        border-left: thin solid #54c0e4;
        -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
                transform: scaleY(1);
        padding: 10px; }
        .HomeBottomSlider .slider-nav .slick-list .slick-slide .pic {
          display: -webkit-box !important;
          display: -ms-flexbox !important;
          display: flex !important;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .HomeBottomSlider .slider-nav .slick-list .slick-slide .pic img {
            margin-right: 10px; }
      @media screen and (min-width: 768px) {
        .HomeBottomSlider .slider-nav .slick-list {
          width: auto !important; } }
    .HomeBottomSlider .slider-nav .slick-prev {
      background: url(../img/img/temp-img/left-small-arrow.png) no-repeat;
      left: -2px; }
      @media screen and (min-width: 768px) {
        .HomeBottomSlider .slider-nav .slick-prev {
          left: -50px; } }
    .HomeBottomSlider .slider-nav .slick-next {
      background: url(../img/img/temp-img/right-small-arrow.png) no-repeat;
      right: -5px; }
      @media screen and (min-width: 768px) {
        .HomeBottomSlider .slider-nav .slick-next {
          right: -50px; } }
    .HomeBottomSlider .slider-nav .slick-next, .HomeBottomSlider .slider-nav .slick-prev {
      height: 23px;
      width: 15px;
      text-indent: -999px; }
      .HomeBottomSlider .slider-nav .slick-next:before, .HomeBottomSlider .slider-nav .slick-prev:before {
        display: none; }
  .HomeBottomSlider .bg {
    position: relative; }
  .HomeBottomSlider .path {
    -webkit-animation: draw 2s infinite;
            animation: draw 2s infinite; }

@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

@keyframes draw {
  100% {
    stroke-dashoffset: 0; } }

.TestimonialBlock h2 {
  font-weight: 100;
  text-align: center;
  margin-bottom: 0; }
  @media screen and (min-width: 768px) {
    .TestimonialBlock h2 {
      margin-bottom: 4rem; } }

.TestimonialBlock .TestimonialSlider {
  position: relative; }
  .TestimonialBlock .TestimonialSlider .slider {
    width: 100%;
    margin: 0 auto 50px; }
    @media screen and (min-width: 768px) {
      .TestimonialBlock .TestimonialSlider .slider {
        width: 90%;
        margin: 50px auto; } }
    .TestimonialBlock .TestimonialSlider .slider .SlidesBlock img {
      margin: 0 auto; }
    .TestimonialBlock .TestimonialSlider .slider .slick-prev {
      background: url(../img/img/temp-img/left-arrow.png) no-repeat;
      left: -50px; }
    .TestimonialBlock .TestimonialSlider .slider .slick-next {
      background: url(../img/img/temp-img/right-arrow.png) no-repeat;
      right: -50px; }
    .TestimonialBlock .TestimonialSlider .slider .slick-next, .TestimonialBlock .TestimonialSlider .slider .slick-prev {
      height: 62px;
      width: 62px;
      text-indent: -999px; }
      .TestimonialBlock .TestimonialSlider .slider .slick-next:before, .TestimonialBlock .TestimonialSlider .slider .slick-prev:before {
        display: none; }
  .TestimonialBlock .TestimonialSlider .SlidesBlock {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.15);
    padding: 40px 10px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .TestimonialBlock .TestimonialSlider .SlidesBlock {
        padding: 40px 100px; } }
    .TestimonialBlock .TestimonialSlider .SlidesBlock h4 {
      text-align: center;
      font-weight: 100;
      margin-top: 30px;
      margin-bottom: 10px; }
    .TestimonialBlock .TestimonialSlider .SlidesBlock span {
      color: #a4a4a4;
      font-size: 1.8rem; }
    .TestimonialBlock .TestimonialSlider .SlidesBlock p {
      font-size: 15px;
      text-align: center;
      margin: 15px 0 0; }
    .TestimonialBlock .TestimonialSlider .SlidesBlock:before {
      content: '';
      position: absolute;
      width: 95%;
      height: 10px;
      -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
      background: #fff;
      bottom: -13px;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .TestimonialBlock .TestimonialSlider .slick-dots {
    bottom: -45px; }
  .TestimonialBlock .TestimonialSlider .slick-dots li button {
    padding: 0; }
    .TestimonialBlock .TestimonialSlider .slick-dots li button:before {
      font-size: 15px;
      content: '';
      border: 1px solid #3c98b1;
      border-radius: 50%;
      opacity: 1;
      width: 10px;
      height: 10px; }
  .TestimonialBlock .TestimonialSlider .slick-dots li.slick-active button:before {
    background: #3c98b1;
    content: '';
    border-radius: 50%;
    opacity: 1;
    width: 10px;
    height: 10px; }

.TestimonialBlock .slick-slide {
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: .2;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 768px) {
    .TestimonialBlock .slick-slide {
      margin: 0 20px;
      padding: 20px; } }

.TestimonialBlock .slick-active {
  opacity: .5; }

.TestimonialBlock .slick-current {
  opacity: 1; }

.MapSection {
  padding-bottom: 8rem; }
  .MapSection .ContactUsDetails {
    margin-top: 6rem;
    position: relative; }
    .MapSection .ContactUsDetails .container {
      display: block;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -ms-flex-line-pack: center;
          align-content: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .MapSection .ContactUsDetails .container h3 {
        margin-bottom: 1rem;
        line-height: 1;
        font-size: 2.2rem; }
        @media (min-width: 768px) {
          .MapSection .ContactUsDetails .container h3 {
            font-size: 2.5rem; } }
      .MapSection .ContactUsDetails .container .FormBox {
        background: #fff;
        padding: 4rem;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-shadow: -2px 1px 12px 1px #b0b0b0;
                box-shadow: -2px 1px 12px 1px #b0b0b0; }
        .MapSection .ContactUsDetails .container .FormBox input[type="text"], .MapSection .ContactUsDetails .container .FormBox input[type="email"] {
          width: 100%;
          padding: 15px;
          margin-top: 15px;
          border: 1px solid #ddd;
          font-size: 18px;
          font-weight: 100; }
        .MapSection .ContactUsDetails .container .FormBox textarea {
          width: 100%;
          padding: 15px;
          margin-top: 15px;
          height: 130px;
          border: 1px solid #ddd;
          font-size: 18px;
          font-weight: 100; }
        .MapSection .ContactUsDetails .container .FormBox input[type="submit"] {
          background: #3f95b6;
          border: none;
          margin-top: 3rem;
          padding: 13px 50px;
          font-size: 18px;
          color: #fff;
          position: relative;
          cursor: pointer; }
        .MapSection .ContactUsDetails .container .FormBox ::-webkit-input-placeholder {
          color: #ccc; }
        .MapSection .ContactUsDetails .container .FormBox :-ms-input-placeholder {
          color: #ccc; }
        .MapSection .ContactUsDetails .container .FormBox ::-ms-input-placeholder {
          color: #ccc; }
        .MapSection .ContactUsDetails .container .FormBox ::placeholder {
          color: #ccc; }
        @media (min-width: 768px) {
          .MapSection .ContactUsDetails .container .FormBox {
            -ms-flex-preferred-size: 70%;
                flex-basis: 70%; } }
      .MapSection .ContactUsDetails .container .InfoBox {
        background: #3f95b6;
        color: #fff;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        padding: 4rem; }
        .MapSection .ContactUsDetails .container .InfoBox h3 {
          margin-bottom: 3rem; }
        .MapSection .ContactUsDetails .container .InfoBox ul.ContactDetails li {
          margin-top: 1rem;
          font-size: 18px; }
          .MapSection .ContactUsDetails .container .InfoBox ul.ContactDetails li img {
            margin-right: 10px; }
          .MapSection .ContactUsDetails .container .InfoBox ul.ContactDetails li:nth-child(2) {
            margin-top: 3rem;
            margin-bottom: 1rem; }
          .MapSection .ContactUsDetails .container .InfoBox ul.ContactDetails li:nth-child(5) {
            margin-top: 3rem; }
          .MapSection .ContactUsDetails .container .InfoBox ul.ContactDetails li a {
            color: #fff;
            text-decoration: none; }
        .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons {
          margin: 5rem auto 0 0;
          padding: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons li {
            display: inline-block;
            margin-right: 1.2rem;
            color: #fff;
            font-size: 18px;
            font-family: Lato; }
            .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons li a {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-transition: background ease 0.1s;
              -o-transition: background ease 0.1s;
              transition: background ease 0.1s; }
              .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons li a svg {
                width: 22px;
                height: 22px;
                fill: #ffffff; }
                .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons li a svg:hover {
                  fill: #ddd; }
            .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons li:last-child {
              margin-right: 0; }
          @media (min-width: 768px) {
            .MapSection .ContactUsDetails .container .InfoBox ul.SocialIcons {
              margin: 15rem auto 0 0; } }
      @media (min-width: 768px) {
        .MapSection .ContactUsDetails .container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }
    @media (min-width: 768px) {
      .MapSection .ContactUsDetails {
        margin-top: -23rem; } }

.Fullwidthbanner img {
  width: 100%; }

.FreeDemoSection .SmallContainer {
  max-width: 950px;
  margin: 0 auto; }
  .FreeDemoSection .SmallContainer h2 {
    text-align: center;
    font-weight: 100; }
  .FreeDemoSection .SmallContainer p {
    text-align: center; }
  .FreeDemoSection .SmallContainer input[type="text"], .FreeDemoSection .SmallContainer input[type="email"], .FreeDemoSection .SmallContainer input[type="date"], .FreeDemoSection .SmallContainer input[type="time"], .FreeDemoSection .SmallContainer select {
    width: 100%;
    padding: 15px;
    border: thin solid #eee;
    background: #ffffff;
    margin-top: 2rem;
    color: #ddd; }
    .FreeDemoSection .SmallContainer input[type="text"]:focus, .FreeDemoSection .SmallContainer input[type="email"]:focus, .FreeDemoSection .SmallContainer input[type="date"]:focus, .FreeDemoSection .SmallContainer input[type="time"]:focus, .FreeDemoSection .SmallContainer select:focus {
      outline: none; }
    .FreeDemoSection .SmallContainer input[type="text"]::-webkit-input-placeholder, .FreeDemoSection .SmallContainer input[type="email"]::-webkit-input-placeholder, .FreeDemoSection .SmallContainer input[type="date"]::-webkit-input-placeholder, .FreeDemoSection .SmallContainer input[type="time"]::-webkit-input-placeholder, .FreeDemoSection .SmallContainer select::-webkit-input-placeholder {
      color: #ddd; }
    .FreeDemoSection .SmallContainer input[type="text"]:-ms-input-placeholder, .FreeDemoSection .SmallContainer input[type="email"]:-ms-input-placeholder, .FreeDemoSection .SmallContainer input[type="date"]:-ms-input-placeholder, .FreeDemoSection .SmallContainer input[type="time"]:-ms-input-placeholder, .FreeDemoSection .SmallContainer select:-ms-input-placeholder {
      color: #ddd; }
    .FreeDemoSection .SmallContainer input[type="text"]::-ms-input-placeholder, .FreeDemoSection .SmallContainer input[type="email"]::-ms-input-placeholder, .FreeDemoSection .SmallContainer input[type="date"]::-ms-input-placeholder, .FreeDemoSection .SmallContainer input[type="time"]::-ms-input-placeholder, .FreeDemoSection .SmallContainer select::-ms-input-placeholder {
      color: #ddd; }
    .FreeDemoSection .SmallContainer input[type="text"]::placeholder, .FreeDemoSection .SmallContainer input[type="email"]::placeholder, .FreeDemoSection .SmallContainer input[type="date"]::placeholder, .FreeDemoSection .SmallContainer input[type="time"]::placeholder, .FreeDemoSection .SmallContainer select::placeholder {
      color: #ddd; }
  .FreeDemoSection .SmallContainer textarea {
    width: 100%;
    padding: 15px;
    border: thin solid #eee;
    background: #ffffff;
    height: 100px;
    margin-top: 2rem; }
    .FreeDemoSection .SmallContainer textarea:focus {
      outline: none; }
    .FreeDemoSection .SmallContainer textarea::-webkit-input-placeholder {
      color: #ddd; }
    .FreeDemoSection .SmallContainer textarea:-ms-input-placeholder {
      color: #ddd; }
    .FreeDemoSection .SmallContainer textarea::-ms-input-placeholder {
      color: #ddd; }
    .FreeDemoSection .SmallContainer textarea::placeholder {
      color: #ddd; }
  .FreeDemoSection .SmallContainer input[type="submit"] {
    margin: 5rem auto 0;
    display: block;
    padding: 12px 60px;
    border: none;
    font-size: 18px;
    background: #3f95b6;
    color: #fff;
    cursor: pointer; }
